nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding-right: 10px;
  background: rgb(190, 170, 148);
  width: 100vh;
  height: 200px;
  color: white;
  transform: translateY(-150px);
  transition: transform 0.5s;
}

ul {
  list-style: none;
  padding-top: 17px;
  padding-right: 20px;
  padding-left: 0px;
  margin-left: 0px;
}

.menu_logo {
  position: relative;
  margin-top: 160px;
  margin-left: 20px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.open-menu {
  cursor: pointer;
  margin-top: 10px;
}

.is-open {
  transform: translateY(0px);
}

ul .salon {
  margin-top: 100px;
}

.img {
  display: block;
  height: 252px;
  width: 286px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  text-align: center;
}
